.nav-link {
    color: white;
}

.link-logo {
    width: 60px;
}

.container.list {
    display: flex;
}

.offcanvas-link {
    color: blue;
    text-decoration: none;
}

h1 {
    font-size: x-large;
    margin-top: 20px;
}