extends adminlayout.pug

block content 

    h1 Administrateur 
    hr 
    
    .container
        button.col-12.btn-offcanvas.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasWithBothOptions' aria-controls='offcanvasWithBothOptions') Menu 
        #offcanvasWithBothOptions.offcanvas.offcanvas-start(data-bs-scroll='true' tabindex='-1' aria-labelledby='offcanvasWithBothOptionsLabel')
            .offcanvas-header
                h5#offcanvasWithBothOptionsLabel.offcanvas-title Menu
                button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
            .offcanvas-body
                ul 
                    li.nav-item 
                        a.offcanvas-link(href="/admin/list") liste utilisateurs
                    li.nav-item 
                        a.offcanvas-link(href="") gestion
                    li.nav-item
                        a.offcanvas-link(href="") notification