extends ../layout.pug

block content 
    h1 Se connecter 
    if error 
        .alert.alert-danger #{error}
    .container 
        form.needs-validation(action="/login" method="post")
            .row.g-3
                .col-12
                    label.form-label(for="email") Email 
                    input#email.form-control(type="email" name="email" value=email, placeholder="you@example.com")

                .col-12
                    label.form-label(for="email") Mot de passe 
                    input#email.form-control(type="password" name="password")

                hr.my-4
                button.w-100.btn.btn-primary.btn-lg(type="submit") Connection