extends ../layout.pug

block content 
    h1 Inscription 
    hr
    if error 
        .alert.alert-danger #{error}
    .container 
        form.needs-validation(action="/register" method="post")
            .row.g-3
                .col-12
                    label.form-label(for="gender") Genre
                    select(class="form-control" placeholder="gender" name="gender")
                        option(value="1") Monsieur
                        option(value="2") Madame
                .col-sm-6
                    label.form-label(for="firstname") Prénom
                    input#firstName.form-control(type="text" name="firstname") 
                    .invalid-feedback
                        | Valid first name is required.
                .col-sm-6
                    label.form-label(for="lastname") Nom
                    input#lastName.form-control(type="text" name="lastname")
                    .invalid-feedback
                .col-12
                    label.form-label(for="email") Email 
                    span.text-body-secondary
                    input#email.form-control(type="email" name="email", placeholder="you@example.com")
                    .invalid-feedback
                        | Please enter a valid email address for shipping updates.
                .col-12
                    label.form-label(for="phone") Téléphone
                    input#phone.form-control(type="text" name="phone")
                    .invalid-feedback
                        | Please enter your shipping address.
                .col-12
                    label.form-label(for="password") Mot de passe
                    span.text-body-secondary
                    input#password.form-control(type="password" name="password")
                .col-md-6
                    label.form-label(for="city") Ville 
                    input#city.form-control(type="text" name="city")
                    .invalid-feedback
                        | Please enter your shipping address.
                .col-md-4
                    label.form-label(for="zip") Code Postal
                    input#zip.form-control(type="text" name="zip")
                    .invalid-feedback
                        | Zip code required.
                //hr.my-4
                //.form-check
                    input#same-address.form-check-input(type="checkbox")
                    label.form-check-label(for="same-address") Shipping address is the same as my billing address
                //.form-check
                    input#save-info.form-check-input(type="checkbox")
                    label.form-check-label(for="save-info") Save this information for next time
                hr.my-4
                button.w-100.btn.btn-primary.btn-lg(type="submit") Insciption
            