doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Page d'accueil 
    body 
        h1 Page d'accueil 

    script (src=process.env.BROWSER_REFRESH_URL)